.input {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
  }
  
  .input p {
    font-weight: bold;
    font-size: 16px;
    margin: 10px 0;
  }
  
  .input input {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  .input select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
  }
  
  .category-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
  }
  
  .category-item {
    background-color: #4fa94d;
    color: white;
    padding: 5px;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
  }
  
  .close-icon {
    cursor: pointer;
    padding-left: 5px;
  }
  
  /* Optional: Add styles for the movie search input */
  .input input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Optional: Style the select dropdowns */
  .input select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
  }