.movie {
  font-family: Arial, sans-serif;
  text-align: center;
}

.movie-title {
  font-size: 24px;
  margin: 20px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

/* Style for the Input component */
.input {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.input input {
  width: 100%;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.category-item {
  background-color: #4fa94d;
  color: white;
  padding: 5px;
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
}

.close-icon {
  cursor: pointer;
}

/* Style for the Categories component */
.categories {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.categories ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.categories li {
  margin: 5px 0;
}

/* Style for the MovieCard component */
.movie-card {
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
}

.list {
  display: flex;
  flex-direction: column;
}

.movie-card img {
  max-width: 100%;
}

.movie-info {
  margin: 5px 0;
}

/* Style for the Pagination component (you can customize this further) */
.pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.pagination li {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #4fa94d;
  color: white;
  border-radius: 5px;
}

.pagination li.active {
  background-color: #333;
}